<footer id="colophon" class="site-footer" role="contentinfo">
  <div class="site-info">
    <p>
      &copy; {{ site.time | date: "%Y" }}
      <a href="https://github.com/Comunica-Lab">ComunicaLab</a>
      &nbsp;&mdash;&nbsp;
      Conteúdo licenciado sob
      <a href="https://creativecommons.org/licenses/by-nc/4.0/deed.pt" rel="license">Creative Commons by-nc 4.0</a>
    </p>
    <p>
      <a href="https://www.usjt.br">
        <img class="footer-usjt" src="{{ '/assets/img/logo-usjt.svg' | relative_url }}" alt="Universidade São Judas Tadeu">
      </a>
    </p>
  </div>
</footer>
